flask-server/logs/
flask-server/.env
flask-server/__pycache__/
flask-server/config.py
package-lock.json
public/
App.js
reportWebVitals.js
react-client/README.md
react-client/node_modules/
react-client/.env
react-client/build/
react-client/src/assets/
paho-services/venv/
paho-services/__pycache__/
paho-services/lora/__pycache__/
paho-services/lora/config.py
paho-services/lora/controller.log
data_uploader/
paho-services/cellular/__pycache__/
